{% extends "base.html" %}
{% block content %}
<section class="blog-listing">
    <h1>{{ section.title }}</h1>
    {% if section.description %}
    <p class="section-description">{{ section.description }}</p>
    {% endif %}
    <ul class="post-list">
        {% for item in items %}
        <li>
            <a href="{{ prefix }}{{ item.path }}" class="post-link">
                <span class="post-title">{{ item.frontmatter.title }}</span>
                {% if item.frontmatter.description %}
                <span class="post-desc">{{ item.frontmatter.description }}</span>
                {% endif %}
            </a>
            <time>{{ item.frontmatter.date }}</time>
        </li>
        {% endfor %}
    </ul>
</section>
{% endblock content %}